:root {
    --orange: #F97316;
    --biru-d: #00314F;
    --biru-n: #00314fb4;
    --bg-gray: #F5F5F5;
    --text-w: #ffff;
    --biru-b: #f2faff69;
    --biru-s: #94D6FF;
    --orange-c: #FFEDD5;
    --hijau-b: #DCFCE7;
    --orange-i: #FFF7ED;
    --white-b-d: #FAFAFA;
    --danger-bg: #FEE2E2;
    --text-danger: #EF4444;
    --text-green: #22C55E;
}

.search-all-jobs {
    display: flex;
    min-height: 40vh;
    background-color: var(--biru-d);
    align-items: center;
    justify-items: center;
}

.search-all-jobs .container {
    display: flex;
    justify-content: center;
    background-color: var(--biru-b);
    padding: 10px;
    border-radius: 16px;
}

.search-all-jobs .container .elements-items-search {
    display: flex;
    justify-content: center;
    padding: 30px 130px;
    background-color: var(--text-w);
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(64, 49, 53, .05);
}